<section class="py-8 px-5 md:py-12 md:px-8 lg:py-24 lg:px-8">
    <div class="mx-auto w-full max-w-content flex flex-col gap-12">
    <div class="flex flex-col gap-6">
        <h2 class="text-section-title md:text-section-title-lg font-bold text-black">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</h2>
        <p class="text-base text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam
            in hendrerit urna.
            Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis
            tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur
            pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales.
            Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci
            facilisis id.</p>
    </div>

    <div class="flex gap-8 overflow-x-auto" tabindex="0" role="region" aria-label="Galería">
        @for (item of galleryList; track item.id) {
            <app-gallery-card
                [src]="item.src" [srcset]="item.srcset" [alt]="item.alt" [title]="item.title"
                [subtitle]="item.subtitle" [downloadText]="item.downloadText" />
        }
        </div>
    </div>
</section>