<section class="flex flex-col gap-12 py-8 px-5">
    <h2 class="text-3xl/8 font-bold">Lorem ipsum dolor sit</h2>
    <p class="text-lg/[27px]">Lorem ipsum dolor sit</p>
    <search>
        <label for="buscador" class="sr-only"> Buscar</label>
        <div class="flex items-center gap-2.5 h-10 px-4 rounded-lg bg-custom-gray focus-within:outline-1 focus-within:outline-offset-1">
            <img src="icons/search.svg" alt="" width="16" height="16" class="shrink-0">
            <input id="buscador" type="search" class="w-full bg-transparent outline-none">
        </div>
    </search>

</section>
